<div class="container center">
  <div class="page-area">
    <!--Added bread crumbs tag-->
    <pb-breadcrumbs></pb-breadcrumbs>


      <!-- This is a Semantic HTML Change -->
      <pb-article class="text-box">
          <h1>Stay on track</h1>
          <p paragraph>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>
      <!-- This is a Semantic HTML Change -->

      <pb-article class="text-box">
          <h1>Alerts</h1>
          <p paragraph>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>
      <!-- This is a Semantic HTML Change -->

      <pb-article class="text-box">
          <h1>Results</h1>
          <p paragraph>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>
      <!-- This is a Semantic HTML Change -->

      <pb-article>
        <h1>Chart</h1>
        <p paragraph>
          <!-- Ensure the canvas element has defined width/height in HTML -->
          <canvas id="myChart" width="300" height="300"></canvas>
        </p>
      </pb-article>

      <pb-article>
          <h1>D3.js Chart</h1>
          <svg id="d3-chart" width="400" height="400"></svg>
      </pb-article>

  </div>

</div>
